.pgb-comment {
  position: relative;
  margin: 15px 0;
  padding: 29px 19px 1px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.pgb-comment:after {
  content: "Reply";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.pgsubwell {
  margin-left:20px;
}


.pagination {
	text-align: center;
}
.pg-pagination-bottom {
	margin-top:80px;
	clear:both;
}

.pgb-content-inside {
	overflow: auto;
}

#phocacaptcha {
	max-width: none !important;
}

div.ph-privacy-row/*,
div.ph-privacy-row div,
div.ph-privacy-row p*/ {
	float:left;
	margin-top: -15px;
	margin-left: 20px;
	
}

.pgb-btn-primary,
.pgb-btn-danger {
    margin: auto 0.3em;
}
